<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../stylesheets/header-footer.css">
        <link rel="stylesheet" href="../stylesheets/admin.css">

        <!-- Bootstrap CSS -->
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

        <title>User Management</title>
    </head>
    <body>
        <div class="UMcontainer">
            
            <% if(action == 'add') { %>

                <div class="addTitleUM">
                    <h1>Add User</h1>
                </div>

                <div class="popup">
                    <div class="registration-box">
                        <form method="POST" action="/user-management/add_user_data">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" name="username" id="username" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" name="fname" id="fname" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" name="lname" id="lname" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="text" name="password" id="password" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Role</label>
                                <select name="role" class="form-control">
                                    <option value="" disabled selected>Role</option>
                                    <option value="admin">Admin</option>
                                    <option value="manager">Manager</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit_button" class="btnSave" value="Save" />
                            </div>
                        </form>
                    </div>
                </div>

                <% } else if(action == 'edit') { %>
                    <div class="popup">
                        <div class="registration-box">
                            <form method="POST" action="/user-management/edit/<%= user.username %>">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input type="text" name="username" id="username" class="form-control" value="<%= user.username %>" />
                                </div>
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" name="fname" id="fname" class="form-control" value="<%= user.fname %>" />
                                </div>
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" name="lname" id="lname" class="form-control" value="<%= user.lname %>" />
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="text" name="password" id="password" class="form-control" value="<%= user.password %>" />
                                </div>
                                <div class="form-group">
                                    <label>Role</label>
                                    <select name="role" class="form-control">
                                        <option value="" disabled selected>Role</option>
                                        <option value="admin">Admin</option>
                                        <option value="manager">Manager</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit_button" class="btnSave" value="Edit" />
                                </div>
                            </form>
                        </div>
                    </div>  
            <% } else { %>

            <div class="titleUM">
                <h1>User Management</h1>
            </div>
                
            <div class="search-add">
                <form id="searchForm" action="/user-management/search" method="GET">
                    <div class="input-SD">
                        <input class="search-form" type="text" id="searchInput" name="term" placeholder="Search" aria-label="Search">
                        <button type="submit" class="btn-search">Search</button>
                        <a href="/user-management/add" class="btn-add">Add User</a>
                    </div>
                </form>
            </div>

                <div class="container-lg">
                    <div class="table-responsive">
                        <div class="table-wrapper">
                            <table class="table table-bordered" cellspacing="0" cellpadding="0">
                                <tr>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                                <%
                                if(sampleData.length > 0)
                                {
                                    sampleData.forEach(function(data){
                                %>
                                <tr>
                                    <td><%= data.username %></td>
                                    <td><%= data.fname + ' ' + data.lname %></td>
                                    <td><%= data.role %></td>
                                    <td><%= data.status %></td>
                                    <td>
                                        <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                                        <a href="/user-management/edit/<%= data.username %>" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                        <a href="/user-management/delete/<%= data.username %>" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                    </td>
                                </tr>
                                <%
                                    });
                                }
                                else
                                {
                                %>
                                <tr>
                                    <td colspan="6">No Data Found</td>
                                </tr>
                                <%
                                }
                                %>
                            </table>
                        </div>
                    </div>
                </div>

                <footer>
                <img src="./images/mmlogo.png" alt="mmlogo" width="35" height="35">
                <img src="./images/samcislogo.png" alt="samcislogo" width="50" height="50">
                <img src="./images/slulogo.png" alt="slulogo" width="50" height="45">
                <p class="footer-p">
                    MODEL M - 9481 IT 312 - SY. 2023 <br>
                    CIS DEPARTMENT <br>
                    School of Accountancy, Management, Computing, and Information Studies <br>
                    Saint Louis University
                </p>
            </footer>

            <div id="sidebar">
                <img src="../Resources/mmlogo.png" id="mmlogo2" draggable="false">
                <a href="logs.html">
                    <img src="../Resources/Historylogo.png" id="historyIcon" draggable="false">
                </a>
                
                <a href="logout.php">
                    <img src="../Resources/logout.png" id="logoutIcon" draggable="false">
                </a>
            </div>

            <% } %>

        </div> 

        <script src="./javascripts/main.js"></script>

    </body>
</html>